body {
    margin: 0;

    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    overflow-x: hidden;
    background-color: #d4e3f2;
}

.cardContainer{
    width: 300px;
    height: 450px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    text-align: center;
    padding: 20px;
}
.cardContainer img{
    width: 260px;
    border-radius: 10px;
}
.cardContainer h1{
    font-size: 24px;
    margin: 20px 0 10px 0;
}
.cardContainer p{
    font-size: 16px;
    color: gray;
    margin: 0 0 20px 0;
    line-height: 1.5;
    padding-top: 15px;
}
.cardContainer button{
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
}
.cardContainer button:hover{
    background-color: hsl(158, 36%, 25%);
}